# Bags staging area - this is where bags will be created for the purpose of ingesting
bags_base_dir: '/path/to/bags'
audit_file: '/path/to/audit.txt'
log_file: '/path/to/error.log'

# Institution code
institution: 'somewhere'

# Max bag size (in bytes)

# Test APTrust/S3 server credentials
test:
  receiving_bucket: 'aptrust.receiving.test.somewhere.edu'

# Production APTrust/S3 server credentials
production:
  receiving_bucket: 'aptrust.receiving.somewhere.edu'
